cffi==1.17.1
charset-normalizer==3.3.2
cryptography==43.0.1
pdfminer.six==20231228
pdfplumber==0.11.4
pillow==10.4.0
pycparser==2.22
PyPDF2==3.0.1
pypdfium2==4.30.0
tqdm==4.66.5
typing_extensions==4.12.2
